h1 {
    font-size: 7vw;
    margin: 6vw 0 3vw 0;
}
  
tr {
    font-size: 2.5vw;
    flex-direction: column;
}
  
th {
    padding-right: 3%;
    width: 94%;
}
  
td {
    padding-left: 3%;
    width: 94%;
}

table img {
    max-width: 60%;
    position: relative;
    margin: 0 0 1.5vw 0;
}
  
td.shorten {
    max-height: 50vw;
}
  
td.shorten::before {
    width: 90%;
    height: calc(50vw + 1px)
}

tr.aside {
    width: 100%;
}

tr.aside th {
    flex-basis: 15%;
    padding-left: 3%;
}

tr.aside td {
    flex-basis: 85%;
}